<title>Downloads</title>
<img align="top" src={{T}} alt="Hacker png" width="400" height="300"/>
<body bgcolor="#303030">
</body>
</style>
<style>h1 {text-align: center;}</style>
<style>h2 {text-align: center;}</style>
<h1  style="color: bisque;">{{Title}}</h1>
<h2  style="color: bisque;">Downloaded successfully</h2>
<p>&copy; <style> p {color: darkcyan;text-align: justify; font-size: larger;}</style> Rohit Joshi</p>
<style>
  img {
    margin: 0 auto;
    display: block;
    margin-top: 10%;
  }
</style>
